---
layout: default
title: Our Sponsors
permalink: /sponsors
---

<style> 
    #benefits ul li {
        padding-bottom: 2vh;
    }
</style>
<br>
<div class="container-fluid">
    <div class="container">
        <h1 class="text-center">{{site.data.sponsors.text.header | markdownify}}</h1>
        <h3 class="text-center">{{site.data.sponsors.text.p1 | markdownify }}</h3><br> <!-- "p1" in the data file -->
        <div class="text-left h5" id="benefits">{{site.data.sponsors.text.p2 | markdownify}}</div>
        <a class="btn btn-secondary" href="{{ site.data.sponsors.link | absolute_url}}" target="_blank">View Sponsor Packet</a>
    </div>
    <br>
    <div class="container">
        <h1><strong>Our Sponsors</strong></h1>
        <br> <br>
        <h2><strong>Title Sponsors</strong></h2>
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Title" %}
        {% if sponsor.hidden == false %}
            <div class="row text-dark mt-3 pt-3 bg-light rounded">
                <div class="col-sm-4">
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                    <h1 class="text-center">{{sponsor.name}}</h1>
                    {% comment %}<h3 class="text-center">{{sponsor.sponsortier}} Sponsor</h3> {% endcomment %}
                </div>
                <div class="col-sm-8 text-left">
                        <h5 class="mb-4">{{sponsor.summary}}</h5>
                        {% if sponsor.website %}
                        <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                        {% else %}
                        <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                        {% endif %}
                </div>
            </div>
        <br>
        {% endif %}
        {% endif %}
        {% endfor %}
        <br>
        <br>
        <h2><strong>Platinum Sponsors</strong></h2>
        <br>
        <div class="row text-dark bg-light rounded mt-3 pt-3">
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Platinum" %}
        {% if sponsor.hidden == false %}
        <div class="col-sm-6 p-4">
            <!-- <div class="row text-dark mt-3 bg-light rounded pt-3"> -->
                <!-- <div class="col-sm-4"> -->
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                <!-- </div> -->
                <!-- <div class="col-sm-8"> -->
                    <h2 class="text-center">{{sponsor.name}}</h2>
                   {% comment %} <h4 class="text-center">{{sponsor.sponsortier}} Sponsor</h4> {% endcomment %}
                    <div class="d-flex justify-content-center align-items-center">
                        {% if sponsor.website %}
                        <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                        {% else %}
                        <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                        {% endif %}
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>
            <br>
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
        <br>
        <br>
        <h2><strong>Gold Sponsors</strong></h2>
        <br>
        <div class="row text-dark mt-3 bg-light rounded pt-3">
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Gold" %}
        {% if sponsor.hidden == false %}
            <div class="col-sm-3 p-4">
                <!-- <div class="row text-dark mt-3 bg-light rounded pt-3"> -->
                    <!-- <div class="col-sm-4"> -->
                        {% if sponsor.image %}
                        <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                        {% else %}
                        <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                        {% endif %}
                    <!-- </div> -->
                    <!-- <div class="col-sm-8"> -->
                        <h2 class="text-center">{{sponsor.name}}</h2>
                       {% comment %} <h4 class="text-center">{{sponsor.sponsortier}} Sponsor</h4> {% endcomment %}
                        <div class="d-flex justify-content-center align-items-center">
                            {% if sponsor.website %}
                            <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                            {% else %}
                            <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                            {% endif %}
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
            
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
        <br>
        <br>
        <h2><strong>Silver Sponsors</strong></h2>
        <div class="row text-dark mt-3 bg-light rounded pt-3">
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Silver" %}
        {% if sponsor.hidden == false %}
        <div class="col-sm-3 p-4">
            <!-- <div class="row text-dark mt-3 bg-light rounded pt-3"> -->
                <!-- <div class="col-sm-4"> -->
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                <!-- </div> -->
                <!-- <div class="col-sm-8"> -->
                    <h2 class="text-center">{{sponsor.name}}</h2>
                    {% comment %}<h4 class="text-center">{{sponsor.sponsortier}} Sponsor</h4>{% endcomment %}
                    <div class="d-flex justify-content-center align-items-center">
                        {% if sponsor.website %}
                        <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                        {% else %}
                        <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                        {% endif %}
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>
            <br>
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
<br>
<style>
.logo {
	height: 15vh;
    max-width: 75%;
	object-fit: contain;
    width: 100%;
    max-width: 75%;
}


.sponsor {
	background-color: rgb(255, 255, 255);
    color: black;
	height: 580px;
	align-items: top;
	align-content: top;
	align-self: center;
    text-align: center;
	/* max-height: 280px; */

}
</style>