<div id="duringEventBanner" style="display:none;" class="jumbotron text-dark">
    <h1 id="currentCompetingEvent" class="text-center pb-2">
      Currently Competing At () Event!
    </h1>
    <h4 id="currentStatusStr" class="text-center pb-3">Team 3461's current status is unknown</h4>

    <div class="row">
      <div class="col d-flex-col">
        <div class="d-flex d-flex-row">
          <h3 id="currentNextMatch" style="text-transform: capitalcase;">
            Next Match: Not Found
          </h3>
          <h3 id='counter' class="pl-2">--h --m --s</h3>
        </div>

        <div>
          <h3 id="currentRank">
            Rank: 0/0
          </h3>
        </div>

      </div>
      <div class="col-3">
        <div class="row">
          <h3 class="col-4 text-center" id="redTeams">
            0000 0000 0000 
          </h3>
          <h3 class="col-4 m-0 p-0 text-center mx-auto"><span class="mx-auto text-center">VS</span></h3>
          <h3 class="col-4 text-center" id="blueTeams">
            0000 0000 0000
          </h3>
        </div>
      </div>

      <h3 class="col text-right" id='time'></h3>

    </div>


    <div id="liveStream" class="embed-responsive embed-responsive-16by9">
      <iframe id="liveStreamFrame" class="embed-responsive-item" src="{{"/assets/images/notFound.png" | absolute_url}}" height="640" width="480"> </iframe>
    </div>
  
</div>
<script>
     var year = new Date().getFullYear();
    var countDownDate;
    var eventurl = "https://raw.githubusercontent.com//Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_events.json";


  async function setBanner(eventsurl) {
         var eventJSON = await fetch(eventsurl, { cache: "reload" });
         var testJSON = await fetch("https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/test_events.json", { cache: "reload" })
         var events = await eventJSON.json();
        // var testEvents = await testJSON.json();
         var curevents = []
         var currentEvent;
         var match
        //  console.log(events);
         for (let key of Object.entries(events)) {

           ////////console.log(key);
           var date = new Date()
           var eventStartDate = new Date(key[1].start_date + "T09:00:00-04:00");
           var eventEndDate = new Date(key[1].end_date + "T22:00:00-04:00");
          //  var eventEndDate = new Date().setDate(tempEventEndDate + 2);
           ////////console.log(dateConfig);
           ////////console.log(eventStartDate);
           if (date >= eventStartDate && date <= eventEndDate) {
             curevents.push(key[1]);
             currentEvent = key[1];
           }
         }

          // console.log("Cur Events")
          console.log("Current Events", curevents)
         if (curevents.length != 0) {
          var apiResponse = await fetch("https://raw.githubusercontent.com//Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_event_statuses.json", { cache: "reload" });
          var testResponse = await fetch("https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/test_event_statuses.json", { cache: "reload" });
          var events =  await apiResponse.json();
          var testEvents = await testResponse.json();
          var nextMatchKey;
          // console.log(events, testEvents);
          ////console.log(key);
         for (var [key, value] of Object.entries(events)) {
            //console.log(curevents[0].key);

            if (key == curevents[0].key){
              console.log("Current Event", key, value);
              match = value
              nextMatchKey = value.next_match_key
              //console.log(nextMatchKey);
            }

          }
          bannerHelper(curevents[0].name, nextMatchKey, match, curevents[0]);

         } else {
          nextEvent = events[0];
          nextEventDate = new Date(nextEvent.start_date);
          today = new Date()
          if ( nextEventDate >= today && today >= kickoff) {
            update_countdown(document.getElementById('competitionCountdownDays'), nextEventDate)
            // document.getElementById("competitionCountdownDays").innerHTML += (Math.ceil( (nextEventDate.getTime() - today.getTime()) / (1000 * 60 * 60 * 24) ));
            document.getElementById("competitionCountdown").style.display = "block";
          }

         }
        //  //console.log(curevents[0].name, curevents[0], match);
        
      }
 
       async function getMatchFromKey(matchKey) {
         var matchAPIURL = "https://raw.githubusercontent.com//Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_matches.json";
         var testMatchURL = "https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/test_matches.json"
         var matchAPIResponse = await fetch(matchAPIURL, { cache: "reload" });
         var testResponse = await fetch(testMatchURL, { cache: "reload" });
         var matches = await matchAPIResponse.json();
         var testMatches = await testResponse.json();

         for (var match = 0; match < matches.length; match++) {
          // ////console.log(events[event]);
        
          if (matches[match].key == matchKey){
            ////console.log(events[event]);
            return matches[match];
          }  
         }

        //  for (var match = 0; match < testMatches.length; match++) {
        //   // ////console.log(events[event]);
        
        //   if (testMatches[match].key == matchKey){
        //     ////console.log(events[event]);
        //     return testMatches[match];
        //   }  
        //  }
         //////console.log(match);
        //  return Promise.resolve(match);
       }
 
       async function getTeamStatus(eventKey) {
         ////////console.log(eventKey);
         var matchAPIURL = "https://raw.githubusercontent.com//Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"event_statuses.json";
         eventRaw = await fetch(matchAPIURL, { cache: "reload" });
         events = await eventRaw.json();
         for (var event = 0;  event < events.length; event++) {
          // ////console.log(events[event]);
        
          if (events[event].key == eventKey){
            ////console.log(events[event]);
            return events[event].overall_status_str;
          }  
        }
       }
 
       async function bannerHelper(eventTitle, nextMatch, stats, event) {
        //console.log(eventTitle); 
        //console.log(nextMatch);
        //console.log(stats);
         var match = await getMatchFromKey(nextMatch);
        //  console.log(nextMatch);
         try {
          countDownDate = match.predicted_time
         } catch {
          countDownDate = null
         }

         try {
         document.getElementById("currentCompetingEvent").innerHTML = "Currently Competing At " + eventTitle;
         } catch {
          console.error("failed to get event name");
         }

         try {
          document.getElementById("currentStatusStr").innerHTML = stats.overall_status_str;
         } catch {}

         try{
         document.getElementById("currentNextMatch").innerHTML = "Next Match: " + match.comp_level + " " + match.match_number;
         document.getElementById("counter").style.display = "block"
         } catch {
          console.error("failed to get next match");
          document.getElementById("counter").style.display = "None"
         }

         try{

         document.getElementById("redTeams").innerHTML = "<h3 class='col text-right'>" + clearFRCfromTeam(match.alliances.red.team_keys[0]) + "</h3>" + "<h3 class='col text-right'>" + clearFRCfromTeam(match.alliances.red.team_keys[1]) + "</h3>" + "<h3 class='col text-right'>" + clearFRCfromTeam(match.alliances.red.team_keys[2]) + "</h3>"
         } catch {
          console.error("failed to get red teams");
          document.getElementById("redTeams").style.display = "None"
         }

         try {

         document.getElementById("blueTeams").innerHTML = "<h3 class='col text-left'>" + clearFRCfromTeam(match.alliances.blue.team_keys[0]) + "</h3>" + "<h3 class='col text-left'>" + clearFRCfromTeam(match.alliances.blue.team_keys[1]) + "</h3>" + "<h3 class='col text-left'>" + clearFRCfromTeam(match.alliances.blue.team_keys[2]) + "</h3>"
         } catch {
          console.error("failed to get blue teams");
          document.getElementById("blueTeams").style.display = "None"
         }

         try {
         document.getElementById("currentRank").innerHTML = "Rank: " + stats.qual.ranking.rank + "/" + stats.qual.num_teams
         } catch {
          console.error("failed to get event rank");
         }
         try {

          event.webcasts.reverse()

            if (document.getElementById("liveStreamFrame").src == "{{"/assets/images/notFound.png" | absolute_url}}") {
              console.log("setting stream iframe to " + event.webcasts[0])
              if (event.webcasts[0].type == "twitch") {
                document.getElementById("liveStreamFrame").src = "https://player.twitch.tv/?autoplay=true&channel=" + event.webcasts[0].channel + "&parent=www.peacce.org"
              }

              if (event.webcasts[0].type == "youtube") {
                
                document.getElementById("liveStreamFrame").src = "https://www.youtube.com/embed/live_stream?channel=" + event.webcasts[0].channel
              }

              hasSetIFrame = true
            } else {
              console.log("live stream iframe appears to be set, " + document.getElementById("liveStreamFrame").src)
            }
          } catch {
            document.getElementById("liveStream").style.display = "none"
          }
         try {
         document.getElementById("duringEventBanner").style.display = "block";
          } catch {}
        }
 
       function clearFRCfromTeam(team) {
         myString = team.replace(/\D/g, '');
         return myString;
       }
 

       function convertTime(date) {
                return new Date((typeof date === "string" ? new Date(date):date).toLocaleString('en-US', {timeZone: 'America/New_York'}))
        }

        function convertTimestamp(timestamp) {
        var d = new Date(timestamp * 1000), // Convert the passed timestamp to milliseconds
        yyyy = d.getFullYear(),
        mm = ('0' + (d.getMonth() + 1)).slice(-2),  // Months are zero based. Add leading 0.
        dd = ('0' + d.getDate()).slice(-2),         // Add leading 0.
        hh = d.getHours(),
        h = hh,
        min = ('0' + d.getMinutes()).slice(-2),     // Add leading 0.
        ampm = 'AM',
        time;

        if (hh > 12) {
        h = hh - 12;
        ampm = 'PM';
       } else if (hh === 12) {
        h = 12;
        ampm = 'PM';
       } else if (hh == 0) {
        h = 12;
      }

        // ie: 2014-03-24, 3:00 PM
        time = yyyy + '-' + mm + '-' + dd + ', ' + h + ':' + min + ' ' + ampm;
        return time;
}

       var x = setInterval(function() {
         var now = convertTime(new Date()).getTime();
         var d = new Date().toLocaleTimeString();
         var distance = new Date(convertTimestamp(countDownDate)).getTime() - now; 
         var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
         var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
         var seconds = Math.floor((distance % (1000 * 60)) / 1000);
 
         //   document.getElementById("counter").innerHTML = d + " | ";
         document.getElementById("counter").innerHTML = "~" + hours + "h " + minutes + "m " + seconds + "s ";
         document.getElementById("time").innerHTML = d;
 
         if (hours == 0 && minutes < 20) {
           document.getElementById("counter").classList.add("yellowwarning");
           // document.getElementById("counter").innerHTML =  d + " | ";
           document.getElementById("counter").innerHTML = "~" + hours + "h " + minutes + "m " + seconds + "s DOUBLE QUENE";
         }
         if (hours == 0 && minutes < 10) {
           document.getElementById("counter").classList.remove("yellowwarning");
           document.getElementById("counter").classList.add("redalliance");
           // document.getElementById("counter").innerHTML = d + " | ";
           document.getElementById("counter").innerHTML = "~" + hours + "h " + minutes + "m " + seconds + "s QUENE";
         }
 
         if (minutes < -4) {
           setBanner(eventurl);
         }
 
         if (minutes > 0 && seconds == 0) {
           setBanner(eventurl);
         }
 
       }, 1000);
 

 setBanner(eventurl);
</script>
<style>
    #redTeams {
      color: red;
    }
  
    #blueTeams {
      color:blue;
    }
  
  </style>