html {
	scroll-behavior: smooth;
}

body {
    
    overflow-x: hidden;

}

body.bg-dark {
	background-color: #030305!important;
}

body.bg-dark .bg-light{
	background-color: #131313!important;
	color: white;
}

body.bg-dark .navbar-light{
	background-color: #131313!important;
	color: white;
}

body.bg-dark .navbar-light .navbar-nav .nav-item{
	background-color: #131313!important;
	color: rgb(212, 212, 212);
}
body.bg-dark .navbar-light .navbar-nav .nav-item.dropdown .nav-link{
	background-color: #131313!important;
	color: rgb(212, 212, 212);
}

body.bg-dark .navbar-light .navbar-nav .nav-item.active{
	background-color: #131313!important;
	color: rgb(255, 255, 255);
	font-weight: bold;
}




body.bg-dark .navbar-light .navbar-toggler {
	color: white;
	border-color: #a7a7a7;
}
body.bg-dark .navbar-light .navbar-toggler-icon {
	filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(49deg) brightness(106%) contrast(101%);
}

.navbar-light .nav-item.active {
	font-weight: bold;
}

body.bg-dark .text-dark {
	color: white!important;
}

@font-face {
    font-family: 'bankgothicbold';
    src: url('/assets/fonts/BankGothicWebFontConvert/bankgothic_bold_2-webfont.woff2') format('woff2'),
         url('/assets/fonts/BankGothicWebFontConvert/bankgothic_bold_2-webfont.woff') format('woff'),
		 url('/assets/fonts/BankGothic_Bold_2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}


/* foreground white and background white colors */

.fg-light {
	background-color: rgb(255, 255, 255);
}

.bg-light {
	background-color: #fcfcfc!important;
}




/* Social Media Icon CSS */

.fa-facebook-official {
	color:#0091ff
}

.fa-facebook-official.socialLink {
	color: #343a40;
	transition: color 0.5s;
}

.fa-facebook-official:hover {
	color:#0069b9
	
}
.fa-facebook-official.socialLink:hover {
	color:#0069b9
	
}


.fa-youtube-play {
	color:#ff0008
	
}

.fa-youtube-play.socialLink:hover {
	color:#ff0008
	
}

.fa-youtube-play.socialLink {
	color: #343a40;
	transition: color 0.5s;
}
.fa-youtube-play:hover {
	color:#b30006
	
}

.fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	-webkit-background-clip: text;
			/* Also define standard property for compatibility */
			background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: color 0.5s;
	
}

.fa-instagram:hover {
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
	-webkit-background-clip: text;
			/* Also define standard property for compatibility */
			background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: color 0.5s;
}

.fa-instagram.socialLink {
	background: radial-gradient(circle at 30% 107%, #343a40 0%, #343a40 5%, #343a40 45%, #343a40 60%, #343a40 90%);
	-webkit-background-clip: text;
			/* Also define standard property for compatibility */
			background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.5s;
}

.fa-instagram.socialLink:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	-webkit-background-clip: text;
			/* Also define standard property for compatibility */
			background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.5s;
	
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
	overflow: overlay;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000000;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
	border-radius: 30px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* Sponsor Box */

.logo-area{
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
	justify-content: center;
	
}



body.bg-dark .sponsorlogo {
	background-color: #131313!important;
	color: rgb(212, 212, 212);

}

.sponsorlogo {
	background-color: rgb(255, 255, 255);
    color: black;
	border-radius: 30px;
	width: 300px;
	height: 280px;
	min-width: 300px;
	align-items: center;
	align-content: center;
	align-self: center;
    text-align: center;
    max-width: 300px;
	max-height: 280px;
	margin: 15px;
	display: block;
	vertical-align: middle;
	background-clip: border-box;
	border:1px solid rgba(0,0,0,.125);
	

}

.sponsorlogo img {
	height: 200px;
	max-width: 300px;
	object-fit: scale-down;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
}

.sponsorlogo p {
	position: relative;
	margin: 0%;
}

.sponsorlogo .nameOnlyBottom {
	position: relative;
	margin: 0%;
	padding-top: 0;
}

.sponsorlogo h1 {
	display: block;
	width: 300px;
	height: 200px;
	position: relative;               
	top: 60%;                         
	transform: translate(0, -50%)
}



.bluealliance {
    color: #0091ff;
}

.redalliance {
    color: #ff0008;
}

.yellowwarning {
    color: #ffc107;
}

.green-text {
	color:green;
}

/*WHY US*/
/*Stolen CSS from CCRA Golf site*/

#mu-why-us {
	background-color: #fff;
	float: left;
	padding: 30px 0 30px;
	display: inline;
	width: 100%;
}

.mu-why-us-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-why-us-area h2 {
	color: #333;
	
}

.mu-why-us-content {
	display: inline;
	float: left;
	margin-top: 0px;
	width: 100%;
}

.mu-why-us-single {
	display: inline;
	float: left;
	width: 100%;
	padding: 0 5px;
}

.my-why-us-single-icon {
	/* border: 1px solid #ccc; */
	font-size: 30px;
	display: inline-block;
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 50%;
	margin-bottom: 0px;
}

.mu-why-us-single h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.mu-why-us-single p {
	font-size: 15px;
}

