---
layout: default
---
<!-- <script src="/assets/js/tba.js"></script> -->
<!-- <title>{{ page.year }}: {{page.robotName}} </title> -->

<!-- <meta property="og:title" content="{{ page.year }} {{ page.robotName }}" />
<meta property="og:description" content="{{ page.game }} performace and statistics  {{ page.content }}"/>
<meta property="og:image" content="{{ page.thumbnail }}?width=320">
<meta property="title" content="{{ page.year }} Robot: {{ page.robotName }} - Operation PEACCE Robotics" />
<meta property="description" content="{{ page.game }} performace and statistics"/>
<meta property="image" content="{{ page.thumbnail }}?width=320"> -->

<style>
  .logo {
    height: 15vh;
      max-width: 75%;
    object-fit: contain;
      width: 100%;
      max-width: 75%;
  }
  
  
  .sponsor {
    background-color: rgb(255, 255, 255);
      color: black;
    height: 580px;
    align-items: top;
    align-content: top;
    align-self: center;
      text-align: center;
    /* max-height: 280px; */
  
  }
</style>

<div class="container-fluid">
    <br>

    <div class="d-flex flex-md-row flex-sm-column row">
        <div class="w-md-25 w-sm-20 pr-3 col-sm-12 col-md-6 col-lg-3 pb-3" style="max-width: 25rem; height: 30rem; ">
          <div id="demo" class="carousel slide" data-ride="carousel" style="width:100%; height: 30rem; background-color: white; border-radius: 5px; border: 1px solid rgba(0,0,0,.125);">
            <!-- The slideshow -->
            <img src="{{ page.thumbnail }}" id="robotImagePlaceholder" class="carousel-item img-thumbnail" style="width:100%; height:30rem; object-fit: cover;"></img>
            
            <div class="carousel-inner" id="robotCarousel">
              <!-- literally just for the 2020 bot and any other robot with no TBA photos -->
              {% for img in page.slideshow %} 
              <img src="{{ img.src }}" class="carousel-item img-thumbnail" style="width:100%; height:30rem; object-fit: cover;"></img>
              {% endfor %}
            </div>
          </div> 
        </div>
        <div class="pl-3 col-sm-12 col-md-9">
            <h1>{{ page.year }} - {{ page.game }}</h1>
            <h1>{{page.robotName}}</h1>
            <h3 id="districtRank">District Rank: --</h3>
            <h3 id="districtPoints">Total District Points: --</h3>
            <p class="small">All data provided by The Blue Alliance <img src="/assets/images/tba_lamp.svg" style="height:3.5vh; color:#0f4bcb"></p>
            <div id="buttons" class="pb-3">
                {% if page.techBinder and page.techBinder != '' %}
                <button type="button" class="btn btn-danger align-middle" data-toggle="modal" data-target="#myModal">
                    View Technical Binder
                    <i class="fa fa-book align-middle" style="font-size:25px"></i>
                  </button>
                {% else %}
                <button type="button" class="btn btn-danger  disabled align-middle" id="techBinder">View Technical Binder <i class="fa fa-book align-middle" style="font-size:25px"></i></button>
                {% endif %}

                {% if page.buizBinder and page.buizBinder != '' %}
                <button type="button" class="btn btn-success align-middle" data-toggle="modal" data-target="#buizModal">
                    View Business Binder
                    <i class="fa fa-book align-middle" style="font-size:25px"></i>
                  </button>
                {% else %}
                <button type="button" class="btn btn-success  disabled align-middle" id="buizBinder">View Business Binder <i class="fa fa-book align-middle" style="font-size:25px"></i></button>
                {% endif %}

                <button type="button" class="btn btn-primary align-middle" onclick="window.location.assign('https://www.thebluealliance.com/team/3461/{{ page.year }}');">View On The Blue Alliance <span><img style="height: 25px;" src="/assets/images/tba_lamp.svg"></span></button>
                <!-- awards row -->
                <br>
                <div class="row pt-2" id="awards">
                  <div class="col" id="banners">

                  </div>
                  <div class="col" id="trophies">

                  </div>
                </div>
                <!-- !awards row -->
            </div>
            {{ content }}
        </div>
    </div>
    <br>


    <div class="table-responsive pt-2 rounded-lg" style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px;">
        <table id="employees" class="table table-bordered table-light table-striped text-dark"></table>
    </div> 
    <br>
    <section id="bestMatch">
      <div class="jumbotron text-dark">
        <h1>Highest Scoring Match</h1>
        <h2 id="bestMatchEventName"></h2>
        <h2 id="bestMatchMatchName"></h2>
        <div class="row flex-column flex-sm-row">
          <div class="col col-lg-6 order-lg-0 order-sm-1">
            <div class="table-responsive pt-2 rounged-lg">
              <table class="table table-bordered table-light text-light">
                <tbody>
                  <tr>
                    <th class="bg-danger">Red Alliance</th>
                    <th class="bg-primary">Blue Alliance</th>
                  </tr>
                  <tr>
                    <td class="bg-danger" id="bestMatchRedOne"></td>
                    <td class="bg-primary" id="bestMatchBlueOne"></td>
                  </tr>
                  <tr>
                    <td class="bg-danger" id="bestMatchRedTwo"></td>
                    <td class="bg-primary" id="bestMatchBlueTwo"></td>
                  </tr>
                  <tr>
                    <td class="bg-danger" id="bestMatchRedThree"></td>
                    <td class="bg-primary" id="bestMatchBlueThree"></td>
                  </tr>
                  <tr>
                    <td class="bg-danger" id="bestMatchRedScore"></td>
                    <td class="bg-primary" id="bestMatchBlueScore"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-6" id="bestMatchYTEmbedContainer">
            <div class="embed-responsive embed-responsive-16by9 mx-auto">
              <iframe  id="bestMatchYTEmbed" src="/assets/images/notFound.png" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
              
          </div>
        </div>
      </div>
    </section>
    <br>
    <section id="event-graphs">

    </section>
    <div class="w-100 mx-auto pt-3 bg-light" style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px;">
      <canvas id="myChart" style="width:100%; max-height: 50rem"></canvas>
    </div>

    <br>

    {% if page.matchVideoPlaylist %}
    <div class="embed-responsive embed-responsive-16by9 w-75 mx-auto">
      <iframe src="https://www.youtube-nocookie.com/embed/videoseries?list={{page.matchVideoPlaylist}}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    {% endif %}
</div>

<div class="container mx-auto pt-5" id="sponsors">
  <h1 class="text-center"><strong>Thank you to this year's Sponsors</strong></h1>
  <br>
  <h2><strong>Title Sponsors</strong></h2>
  {% assign page_year = page.year | smartify  %}
  {% for sponsor in site.data.sponsors.sponsors %}
    {% for data in sponsor.years%}
      {% if data.year contains page_year %}
        {% if data.sponsortier == "Title" %}
            <div class="row text-dark mt-3 pt-3 bg-light rounded">
                <div class="col-sm-4">
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                    <h1 class="text-center">{{sponsor.name}}</h1>
                    {% comment %}<h3 class="text-center">{{sponsor.years.sponsortier}} Sponsor</h3> {% endcomment %}
                </div>
                <div class="col-sm-8 text-left">
                        <h5 class="mb-4">{{sponsor.summary}}</h5>
                        {% if sponsor.website and sponsor.website != "" %}
                        <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                        {% else %}
                        <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                        {% endif %}
                </div>
            </div>
          <br>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  <br>
  <br>
  <h2><strong>Platinum Sponsors</strong></h2>
  <br>
  <div class="row text-dark bg-light rounded mt-3 pt-3">
  {% for sponsor in site.data.sponsors.sponsors %}
  {% for data in sponsor.years%}
  {% if data.year contains page_year %}
  {% if data.sponsortier == "Platinum" %}
  <div class="col-sm-6 p-4">
      <!-- <div class="row text-dark mt-3 bg-light rounded pt-3"> -->
          <!-- <div class="col-sm-4"> -->
              {% if sponsor.image %}
              <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
              {% else %}
              <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
              {% endif %}
          <!-- </div> -->
          <!-- <div class="col-sm-8"> -->
              <h2 class="text-center">{{sponsor.name}}</h2>
             {% comment %} <h4 class="text-center">{{sponsor.years.sponsortier}} Sponsor</h4> {% endcomment %}
              <div class="d-flex justify-content-center align-items-center">
                  {% if sponsor.website and sponsor.website != ""%}
                  <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                  {% else %}
                  <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                  {% endif %}
              </div>
          <!-- </div> -->
      <!-- </div> -->
  </div>
      <br>
    
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  </div>
  <br>
  <br>
  <h2><strong>Gold Sponsors</strong></h2>
  <br>
  <div class="row text-dark mt-3 bg-light rounded pt-3">
  {% for sponsor in site.data.sponsors.sponsors %}
  {% for data in sponsor.years%}
  {% if data.year contains page_year %}
  {% if data.sponsortier == "Gold" %}
      <div class="col-sm-3 p-4">
          <!-- <div class="row text-dark mt-3 bg-light rounded pt-3"> -->
              <!-- <div class="col-sm-4"> -->
                  {% if sponsor.image %}
                  <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                  {% else %}
                  <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                  {% endif %}
              <!-- </div> -->
              <!-- <div class="col-sm-8"> -->
                  <h2 class="text-center">{{sponsor.name}}</h2>
                 {% comment %} <h4 class="text-center">{{sponsor.years.sponsortier}} Sponsor</h4> {% endcomment %}
                  <div class="d-flex justify-content-center align-items-center">
                      {% if sponsor.website and sponsor.website != "" %}
                      <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                      {% else %}
                      <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                      {% endif %}
                  </div>
              <!-- </div> -->
          <!-- </div> -->
      </div>
      
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  </div>
  <br>
  <br>
  <h2><strong>Silver Sponsors</strong></h2>
  <div class="row text-dark mt-3 bg-light rounded pt-3">
  {% for sponsor in site.data.sponsors.sponsors %}
  {% for data in sponsor.years %}
  {% if data.year contains page_year %}
  {% if data.sponsortier == "Silver" %}
  <div class="col-sm-3 p-4">
      <!-- <div class="row text-dark mt-3 bg-light rounded pt-3"> -->
          <!-- <div class="col-sm-4"> -->
              {% if sponsor.image %}
              <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
              {% else %}
              <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
              {% endif %}
          <!-- </div> -->
          <!-- <div class="col-sm-8"> -->
              <h2 class="text-center">{{sponsor.name}}</h2>
              {% comment %}<h4 class="text-center">{{sponsor.years.sponsortier}} Sponsor</h4>{% endcomment %}
              <div class="d-flex justify-content-center align-items-center">
                  {% if sponsor.website and sponsor.website != "" %}
                  <a class="btn btn-outline-primary" href="{{sponsor.website}}">Learn More</a>
                  {% else %}
                  <a class="btn btn-outline-primary disabled" href="">Learn More</a>
                  {% endif %}
              </div>
          <!-- </div> -->
      <!-- </div> -->
  </div>
      <br>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  </div>
</div>

<br>

<!-- The Modal -->
<div class="modal fade text-dark" id="myModal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">{{ page.year }} Technical Binder</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <object data="{{page.techBinder}}#view=Fit" type="application/pdf" width="100%" height="650">
                    <p>
                        It appears your Web browser is not configured to display PDF files. No worries, just <a href="{{page.techBinder}}">click here to download the PDF file.</a>
                    </p>
                </object> 
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        
      </div>
    </div>
</div>
  
<!-- Buiz Binder -->
<div class="modal fade text-dark" id="buizModal">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
          <h4 class="modal-title">{{ page.year }} Business Binder</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <object data="{{page.buizBinder}}#view=Fit" type="application/pdf" width="100%" height="650">
                  <p>
                      It appears your Web browser is not configured to display PDF files. No worries, just <a href="{{page.techBinder}}">click here to download the PDF file.</a>
                  </p>
              </object> 
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      
    </div>
  </div>
</div>



<script>


  // var events = "https://www.thebluealliance.com/api/v3/team/frc3461/events/";
  var year = "{{page.year}}";
  
  // var eventstatuses = "/statuses?noMoreSecurityLeaks"
  // const authKey = "?noMoreSecurityLeaks" 
  var district = "https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_district_rankings.json";
  //  var media = "https://www.thebluealliance.com/api/v3/team/frc3461/media/"
  //  var awards = "https://www.thebluealliance.com/api/v3/team/frc3461/awards/"


  var eventstats = "https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_event_statuses.json";
  var eventurl = "https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_events.json";
  var mediaurl = "https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_media.json";
  var awardsurl = "https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_awards.json"
  var countDownDate;
  var countDownDate;

  function json2array(json) {
    var result = [];
    for (var i in json) {
      result.push([i, json[i]]);
    }
    return result;
  }
  // Defining async function


  function viewOnTBA() {
   window.location.assign('https://www.thebluealliance.com/team/3461/' + year);
  }

  async function getMedia(mediaURL) {
    const apiResponse = await fetch(mediaURL);
    const mediaJSON = await apiResponse.json();
    //////console.log(mediaJSON);
    var hasPlacedImage = false;
    if (mediaJSON.length != 0)
   for (var i = 0; i < mediaJSON.length; i++) {
       const tempMedia = mediaJSON[i];
       //////console.log(mediaJSON[i]);
       if (mediaJSON[i].preferred == true && mediaJSON[i].direct_url != undefined) {
          try {
            var response = await fetch(mediaJSON[i].direct_url);
            //console.log(response);
          } catch{
            if (hasPlacedImage == false) {
              //console.log("Setting default image to active");
              document.getElementById("robotImagePlaceholder").classList.add("active");
            }
            return;
          } finally {
            
          }
            if (hasPlacedImage == false) {
                document.getElementById("robotCarousel").innerHTML += `<img src="${mediaJSON[i].direct_url}" class="carousel-item active img-thumbnail" style="width:100%; height:30rem; object-fit: cover;"></img>`;
                // document.getElementById("image").setAttribute("content", mediaJSON[i].direct_url);
                hasPlacedImage = true;
            } else {
                document.getElementById("robotCarousel").innerHTML += `<img src="${mediaJSON[i].direct_url}" class="carousel-item img-thumbnail" style="width:100%; height:30rem; object-fit: cover;"></img>`;
            }
          
        }
      }
    if (mediaJSON.length == 0 || hasPlacedImage == false) {
        document.getElementById("robotImagePlaceholder").classList.add("active");
    }

      if (mediaJSON.length == 0) {
        document.getElementById("robotImagePlaceholder").classList.add("active");
      }

   }
  
  async function getapi(eventurl, eventstats, awards) {
    const eventResponse = await fetch(eventurl);
    const eventStats = await fetch(eventstats);
    const awardsData = await fetch(awards);
    // Storing data in form of JSON
    var eventdata = await eventResponse.json();
    // var eventdata = JSON.parse(eventdatatemp);
    var eventstatdata = await eventStats.json();
    var awardsForYear = await awardsData.json();
    /* ////console.log("Event Data")
     ////console.log(eventdata);
     ////console.log("Event Stats")
     ////console.log(eventstatdata); */
     ////console.log(eventdata); 
     eventKeyValueArray = {};
     for (var i = 0; i < eventdata.length; i++){
       ////console.log(i)
       eventKeyValueArray[[eventdata[i].key]] = eventdata[i];
     }


    show(eventstatdata, eventKeyValueArray, awardsForYear);

    // document.getElementById("header").innerText() = year + " Competition Season"
    
  }
  // Calling that async function
  getapi(eventurl, eventstats, awardsurl);
  getDistrictStats(district);
  getMedia(mediaurl);

  // async function getDistrictStats(district) {
  //  var districtResponse = await fetch(district);
  //  var districtJSON = await districtResponse.json();
  //  var teamDistrictRankings;
   
  //  for (var i = 0; i < districtJSON.length; i++) {
  //    if (districtJSON[i].team_key == "frc3461") {
  //      //////console.log(districtJSON[i]);
  //      document.getElementById("districtRank").innerHTML = "Current District Rank: " + districtJSON[i].rank; 
  //      document.getElementById("districtPoints").innerHTML = "Current District Points: " + districtJSON[i].point_total; 
  //    }
  //  }

  // }

  // ChatGPT optomized my code for me and Im kinda finding it hilarious
  async function getDistrictStats(district) {
  const districtResponse = await fetch(district);
  const districtJSON = await districtResponse.json();
  const team = districtJSON.find((team) => team.team_key === "frc3461");
  const teams = districtJSON.filter(item => item.point_total !== 0);
  // console.log(teams)

  if (team) {
    document.getElementById("districtRank").innerHTML = "District Rank: " + team.rank + "/" + teams.length; 
    document.getElementById("districtPoints").innerHTML = "Total District Points: " + team.point_total; 
  }
 }

  // Function to define innerHTML for HTML table
  async function show(event, stats, awards) {
           //////console.log("event info");
           //////console.log(event);
           //  ////console.log("match info");
           //  ////console.log(stats); 
    let tab =
      `<tr>
        <th>Event Name</th>
        <th>Ranking</th>
        <th>Awards</th>
    </tr>`;

     var result = stats;
   //  var statResult = json2array(stats);

    length = result.length;
    //////console.log(result);
     eventInfo = new Object();
   //  values = [];
     for (var i = 0; i < length; i++) {
     //  eventInfo.assign([result[i].key, result[i]]);
      
    }
    // //console.log(stats)
    if (length == 0) {
      tab = `<h1 class=text-center>No Events Found</h1>`
      document.getElementById("employees").innerHTML = tab;
    }

    //////console.log(values);
    //////console.log(awards)
   for (const [key, value] of Object.entries(event)) {
     var eventInfo = "";  
     // Object.keys(stats).forEach(createArray(key));
     
      // eventStatsSubBanner = document.getElementById("event-graphs")
      // // console.log(eventStatsSubBanner)
      // try {
      //   eventStatsSubBanner.innerHTML += `
      //     <div class="jumbotron row" id="${key}SubBanner" date="${stats[key].start_date}">
      //       <div class="col" date="${stats[key].start_date}">
      //         <h1 class="h2">${stats[key].name}</h1>
      //         <h1 class="h4">${value.overall_status_str}</h1>
      //       </div>
      //       <div class="col">
      //         <div class="w-100 mx-auto pt-3 bg-light" style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px;">
      //           <canvas id="${key}Chart" style="width:100%; max-height: 50rem"></canvas>
      //         </div>

      //       </div>
      //     </div>
      //   `
      // } 
      // finally {
        
      // }
     

     if (value != null) {
      //  console.log(value)
       var badge = ""
       switch(stats[key].event_type) {
  
         case 100:
          //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-secondary">Preseason Event</span>`
           break;
         case 99:
          //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-secondary">Offseason Event</span>`
           break;
         
           case -1:
          //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-warning">Unlabeled Event</span>`
           break;         
         case 0:
            // console.log(stats[key])
            badge = `<span class="badge badge-pill badge-primary">Week ${stats[key].week + 1} Regional Event</span>`
           break;
         case 1:
          //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-primary">Week ${stats[key].week + 1} District Event</span>`
           break;

         case 2:
           badge = `<span class="badge badge-pill badge-info">DCMP</span>`
           break;
         case 3:
        //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-success">CMP Division</span>`
           break;
         case 4:
        //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-success">CMP Einstein</span>`
           break;
          
         case 5:
          //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-info">DCMP Division</span>`
           break;

        case 7:
          //  console.log(stats[key])
           badge = `<span class="badge badge-pill badge-danger">2020/21 Remote Event</span>` // Covid is fun isnt it
           break;

          case null:
          // console.log(stats[key])
            badge = ""
            break; 

         default:
          // console.log(stats[key])
           badge = ""
       }
      //  //console.log(stats[key].event_type);
       ////console.log("key");
       ////console.log(key);
       ////console.log("value")
       ////console.log(value);
       tab += `<tr><td date=${stats[key].start_date} id=${key}><a class="text-dark" href="https://www.thebluealliance.com/event/${key}">${stats[key].name} ${badge}</a></td><td id="${key}eventstatus">${value.overall_status_str}</td><td id=${key + "awards"}>None Found</td></tr>`;
       // document.getElementById(value.key + "eventstatus").innerHTML = 
     } else {
      // console.log(stats[key])
     tab += `<tr><td date=${stats[key].start_date} id=${key}><a class="text-dark" href="https://www.thebluealliance.com/event/${key}">${stats[key].name} <span class="badge badge-pill badge-secondary">Unknown</span> </a></td><td>No Matches Found, Check Back After ${stats[key].start_date}</td><td>No Data</td></tr>`
     }
     // Setting innerHTML as tab variable
     document.getElementById("employees").innerHTML = tab;
     sortTable();
     sortEventBanners()
     }


    //////console.log(awards);
    for (var i = 0; i < awards.length; i++) {
      //////console.log(awards[i]);
      eventName = await getShortEventNameFromKey(awards[i].event_key)
      let blueBanners =  ``
      let trophies = ``

      document.getElementById(awards[i].event_key + "awards").innerHTML = awards[i].name;

      blueBannerAwards = [0, 69, 1, 3, 74, 80] //TBA API award IDs that get a blue banner (CHAIRMANS, CHAIRMANS_FINALIST, WINNER, WOODIE_FLOWERS, SKILLS_COMPETITION_WINNER, GAME_DESIGN_CHALLENGE_WINNER)

      if (blueBannerAwards.includes(awards[i].award_type)) {
        blueBanners += `
        <div class="banner">
          <img src="assets/FIRSTBranding/Vertical/RGB/Reverse/FIRST_Vertical_RGB_reverse.png">
          <div class="award-name">
              <span>${awards[i].name}</span>
          </div>
          
          <div class="award-event">
              <span>${eventName}</span>
          </div>
          
        </div>`
      }
      document.getElementById('banners').innerHTML += blueBanners
    }

  }
  function sortTable() {
 var table, rows, switching, i, x, y, shouldSwitch;
 table = document.getElementById("employees");
 switching = true;
 /* Make a loop that will continue until
 no switching has been done: */
 while (switching) {
   // Start by saying: no switching is done:
   switching = false;
   rows = table.rows;
   /* Loop through all table rows (except the
   first, which contains table headers): */
   for (i = 1; i < (rows.length - 1); i++) {
     // Start by saying there should be no switching:
     shouldSwitch = false;
     /* Get the two elements you want to compare,
     one from current row and one from the next: */
     x = rows[i].getElementsByTagName("TD")[0];
     y = rows[i + 1].getElementsByTagName("TD")[0];
     xTime = Date.parse(x.getAttribute("date"));
     yTime = Date.parse(y.getAttribute("date"));
     // Check if the two rows should switch place:
     if (xTime > yTime) {
       // If so, mark as a switch and break the loop:
       shouldSwitch = true;
       break;
     }
   }
   if (shouldSwitch) {
     /* If a switch has been marked, make the switch
     and mark that a switch has been done: */
     rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
     switching = true;
   }
 }
}

function sortEventBanners() {
 var table, rows, switching, i, x, y, shouldSwitch;
 table = document.getElementById("event-graphs");
 switching = true;
 /* Make a loop that will continue until
 no switching has been done: */
 while (switching) {
   // Start by saying: no switching is done:
   switching = false;
   rows = table.children;
   /* Loop through all table rows (except the
   first, which contains table headers): */
   for (i = 0; i < (rows.length - 1); i++) {
     // Start by saying there should be no switching:
     shouldSwitch = false;
     /* Get the two elements you want to compare,
     one from current row and one from the next: */
     x = rows[i].getElementsByTagName("div")[0];
     y = rows[i + 1].getElementsByTagName("div")[0];
     console.log(y)
     xTime = Date.parse(x.getAttribute("date"));
     yTime = Date.parse(y.getAttribute("date"));
    //  console.log(xTime, yTime)
     // Check if the two rows should switch place:
     if (xTime > yTime) {
       // If so, mark as a switch and break the loop:
       shouldSwitch = true;
       break;
     }
   }
   if (shouldSwitch) {
      console.log(shouldSwitch)
     /* If a switch has been marked, make the switch
     and mark that a switch has been done: */
     rows[i].parentElement.insertBefore(rows[i + 1], rows[i]);
     switching = true;
   }
 }
}


</script>


<!-- for the graphs -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script>
  getMatchRecord();
  async function getMatchRecord(){
    // var year = 2019;
    var apiURL = "https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_matches.json"
    var apiPromise = await fetch(apiURL);
    var matches = await apiPromise.json();
    generateDataSet(matches);
    var highestScoringMatch = getHighestRankingOnSeasonMatch(matches);
    // console.log(highestScoringMatch)
    updateBestMatchBanner(highestScoringMatch);
  }

  async function updateBestMatchBanner(highScore) {
    event_name = await getEventNameFromKey(highScore.event_key)
    document.getElementById('bestMatchEventName').innerText += event_name 
    match_name = await getMatchNameFromKey(highScore.key)
    document.getElementById('bestMatchMatchName').innerText += match_name

    try{ 
    document.getElementById('bestMatchYTEmbed').src = "https://www.youtube-nocookie.com/embed/" + highScore.videos[0].key 
    }
    catch {

    }
    function clearFRCfromTeamKey(team_key) {
      if (team_key.includes("3461")) {
        return "<b>" + team_key.replace("frc", "") + "</b>" 
      }
      return team_key.replace("frc", "")
    }

    document.getElementById('bestMatchRedOne').innerHTML += clearFRCfromTeamKey(highScore.alliances.red.team_keys[0])
    document.getElementById('bestMatchBlueOne').innerHTML += clearFRCfromTeamKey(highScore.alliances.blue.team_keys[0])

    document.getElementById('bestMatchRedTwo').innerHTML += clearFRCfromTeamKey(highScore.alliances.red.team_keys[1])
    document.getElementById('bestMatchBlueTwo').innerHTML += clearFRCfromTeamKey(highScore.alliances.blue.team_keys[1])

    document.getElementById('bestMatchRedThree').innerHTML += clearFRCfromTeamKey(highScore.alliances.red.team_keys[2])
    document.getElementById('bestMatchBlueThree').innerHTML += clearFRCfromTeamKey(highScore.alliances.blue.team_keys[2])

    document.getElementById('bestMatchRedScore').innerText += "Score: "+ highScore.alliances.red.score
    document.getElementById('bestMatchBlueScore').innerText += "Score: "+highScore.alliances.blue.score
  }

  function getHighestRankingOnSeasonMatch(matches) {
    var bestMatch = null
    var highScore = 0;
    var currentScore = 0;
    if (matches.length == 0) {
      document.getElementById('bestMatch').hidden = true
    }
    for (var i = 0; i < matches.length; i++) {
      match = new Object(matches[i]);
      var redAlliance =  match.alliances.red
      var blueAlliance =  match.alliances.blue
      


        function getScore(alliance) {
          return alliance.score
        }

        if (redAlliance.team_keys.includes("frc3461")) {
          currentScore = getScore(redAlliance)
        } else if (blueAlliance.team_keys.includes("frc3461")) {
          currentScore = getScore(blueAlliance)
        }

        // console.log(match.key, currentScore)
        if (currentScore > highScore) {
          highScore = currentScore
          bestMatch = match
          console.log("Best Scoring Match:", match.key, currentScore, ">", highScore)
        }

        
    }
    console.log(currentScore, bestMatch)
    return bestMatch
  }

  function generateDataSet(matches) {
    var events = [];
    var score = [];
    var scorePure = [];
    var eventsScorePair = [];
    var matchNumber = [];
    var redAlliance;
    var blueAlliance; 
    // //console.log(matches);
     for (var i = 0; i < matches.length; i++) {
        ////console.log(matches[i]);
        var match = new Object(matches[i]);
        // //console.log(match);
        redAlliance = match.alliances.red.team_keys;
        blueAlliance = match.alliances.blue.team_keys;
        if (events.includes(match.event_key) == false) {
          events.push(match.event_key);
        }

        if (redAlliance.includes("frc3461")) {
          // events.find(any(match.event_key)).push(match.alliances.red.score);
          scorePure.push(match.alliances.red.score);
          // score.push([match.event_key, {x: match.match_number, y: match.alliances.red.score, compLevel: match.comp_level+match.match_number}]);
          if (match.comp_level == "qm") {
            score.push([match.event_key, {x: match.match_number, y: match.alliances.red.score, num: match.time, comp: match.comp_level + match.match_number}]);
          }
          else {
            score.push([match.event_key, {x: match.match_number, y: match.alliances.red.score, num: match.time, comp: match.comp_level + match.set_number + "-" + match.match_number}]);
          }
          
        } else if (blueAlliance.includes("frc3461")) {
          scorePure.push(match.alliances.blue.score);
          if (match.comp_level == "qm") {
            score.push([match.event_key, {x: match.match_number, y: match.alliances.red.score, num: match.time, comp: match.comp_level + match.match_number}]);
          }
          else {
            score.push([match.event_key, {x: match.match_number, y: match.alliances.red.score, num: match.time, comp: match.comp_level + match.set_number + "-" + match.match_number}]);
          }
          
        }

        matchNumber.push(i);
      }
      var eventsWithScoreArray = new Object;
      for (var i = 0; i < events.length; i++) {
        eventsWithScoreArray[events[i]] = [];
      }
      // //console.log(score);
      for (var i=0; i<score.length; i++){
        // //console.log(score[i]);
        eventsWithScoreArray[score[i][0]].push(score[i][1]);
        // eventsWithScoreArray[score[i][1]].push(score[i][2]);
        eventsWithScoreArray[score[i][0]].sort(function(a, b){return a.num - b.num});
      }
      // //console.log(events);
      // //console.log(score);
      // //console.log(eventsScorePair);
      //  //console.log(eventsWithScoreArray);
      

      generateGraph(events, eventsWithScoreArray, matchNumber);
  }


  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function generateGraph(events, scores, match_number) {
    const N = Math.max(...match_number) / events.length + 8;
    const arr = Array.from({length: N}, (_, index) => "Match " + (index + 1) );
    // //console.log(arr);
    // //console.log(match_number);
    // //console.log(events)
    var xValues = arr;
    var barColors = ["red", "green","blue","orange","brown"];
    var eventKeyNamePair = {};
    var chartConfig = {
      type: "line",
      data: {
        labels: arr,
        datasets: []
      },
      options: {
        legend: {display: true},
        // scales: {
        //   yAxes: [{ticks: {min: 0}}],
        // }
        title: {
          display: true,
          text: "Match Scores Over Time",
          fontSize: 16
        }
      }
    };


    for (var i = 0; i < events.length; i++){
    
      var eventData = await getEventNameFromKey(events[i]);
      // //console.log(events[i]);
      eventKeyNamePair[events[i]] = eventData;
    }
    // //console.log(eventKeyNamePair);

    Object.entries(scores).forEach((entry, index) => {
      const [key, value] = entry;
      console.log(scores)
      var tempN = scores[key].length
      var tempArr = Array.from({length: tempN}, (_, entry) => "" + (scores[key][entry].comp));
      var tempChartConfig = {
      type: "line",
      data: {
        labels: tempArr,
        datasets: []
      },
      options: {
        legend: {display: true},
        // scales: {
        //   yAxes: [{ticks: {min: 0}}],
        // }
        title: {
          display: true,
          text: "Match Scores Over Time",
          fontSize: 16
        }
      }
    };
      // //console.log(eventName);
      // //console.log(entry);
      // //console.log(value.sort((a,b)=>a.x-b.x))
      chartConfig.data.datasets.push({
        label: eventKeyNamePair[key],
        borderColor: barColors[index],
        backgroundColor: barColors[index],
        data: value.sort(function(a,b) { if (a.num && b.num != null){sortNumerically(a.num, b.num)} else {sortCompLevel(value)}}),
        fill: false,
        tension: 0
      });
      // tempChartConfig.data.datasets.push({
      //   label: eventKeyNamePair[key],
      //   borderColor: barColors[index],
      //   backgroundColor: barColors[index],
      //   data: value.sort(function(a,b) { if (a.num && b.num != null){sortNumerically(a.num, b.num)} else {sortCompLevel(value)}}),
      //   fill: false,
      //   tension: 0
      // });
      // sleep(200).then(
      //   new Chart(key+"Chart", tempChartConfig)
      // )
    });

    //console.log(chartConfig);
    new Chart("myChart", chartConfig);



  }


  function sortNumerically(a, b) {
  if (a > b) {
    return 1;
  } else if (b > a) {
    return -1;
  } else {
    return 0;
  }
  }

  // function sortCompLevel(a, b) {
  // if (a == "qm" && b == "qm" && a < b) {
  //   return 1;
  // } else if (b == "qm" && a == "qm" && b < a) {
  //   return -1;
  // } else if (a == "qm" && b == "qf" && a < b){
  //   return 1;
  // } else if (b == "qm" && a == "qf" && b < a){
  //   return -1;
  // }else if (a == "qf" && b == "sf" && a < b){
  //   return 1;
  // } else if (b == "qf" && a == "sf" && b < a){
  //   return -1;
  // }else if (b == "qf" && a != "sf" && b < a) {
  //   return 1;
  // }
  // }

  function sortCompLevel(array) {
  const order = { qm: 1, ef: 2, qf: 3, sf: 4, f: 5 };

  return array.sort((a, b) => {
    return order[a] - order[b];
  });
}


  // async function getEventNameFromKey(key) {
  //   var apiResponse = await fetch("https://raw.githubusercontent.com//Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/"+year+"_events.json");
  //   var events =  await apiResponse.json();
  //   // //console.log(events);
  //   //console.log(key);
  //   for (event in events) {
  //     // //console.log(events[event]);
    
  //     if (events[event].key == key){
  //       //console.log(events[event]);
  //       return events[event].name;
  //     }  
  //   }
    
  // }

  //ChatGPT optomized this also
  async function getEventNameFromKey(key) {
  const apiResponse = await fetch(`https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/${year}_events.json`, { cache: "reload" });
  const events = await apiResponse.json();
  
  const event = events.find(event => event.key === key);
  
  return event ? event.name : null;
}

async function getShortEventNameFromKey(key) {
  const apiResponse = await fetch(`https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/${year}_events.json`, { cache: "reload" });
  const events = await apiResponse.json();
  
  const event = events.find(event => event.key === key);
  
  return event ? event.short_name : null;
}

async function getMatchNameFromKey(key) {
  const apiResponse = await fetch(`https://raw.githubusercontent.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/gh-actions-tba-data-backend/${year}_matches.json`);
  const events = await apiResponse.json();
  
  const event = events.find(event => event.key === key);

  if (event.comp_level === "qm") {
      var matchtitle = "Qualification Match";
  } else if (event.comp_level === "qf") {
      var matchtitle = "Quarterfinal " + event.set_number + " Match";
  } else if (event.comp_level === "sf") {
      var matchtitle = "Semifinal " + event.set_number + " Match";
  } else if (event.comp_level === "f") {
      var matchtitle = "Final";
  } else {
      var matchtitle = "Unknown";
  }
  
  return event ? matchtitle + " " + event.match_number : null;
}


</script>
<!-- Overide default title -->
<script>
   document.getElementsByTagName("TITLE")[0].innerHTML = "{{ page.year }} Robot: {{page.robotName}} - FRC 3461"
</script>


<style>
.banner {
    background: #0f4bcb;
    color: #fff;
    display: inline-block;
    height: 170px;
    line-height: 1.2;
    margin: 0 0 40px;
    padding: 8px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    width: 140px
}

.banner img {
    margin-bottom: 3px;
    margin-top: 10px;
    max-height: 55px;
    width: 75px;
}

.banner:after {
    border-bottom: 70px solid #0f4bcb;
    border-color: #0f4bcb #0f4bcb transparent;
    border-style: solid;
    border-width: 5px 70px 20px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 100%
}

.banner .award-name,.banner .award-name-long {
    display: table;
    font-weight: bolder;
    height: 35px;
    margin: 3px 0;
    width: 100%
}

.banner .award-name span,.banner .award-name-long span {
    display: table-cell;
    font-style: italic;
    text-transform: uppercase;
    vertical-align: middle
}

.banner .award-name-long span {
    font-size: 85%
}

.banner .award-event,.banner .award-event-long {
    display: table;
    height: 50px;
    text-transform: uppercase;
    width: 100%
}

.banner .award-event span,.banner .award-event-long span {
    display: table-cell;
    max-width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle
}

.banner .award-event {
    font-size: 85%;
    line-height: 130%
}

.banner .award-event-long {
    font-size: 75%;
    line-height: 110%
}

.banner,.banner:after {
    -webkit-filter: drop-shadow(0 5px 5px rgba(0,0,0,.1));
    filter: drop-shadow(0 5px 5px rgba(0,0,0,.1))
}

.banner.black {
    background: #000
}

.banner.black:after {
    border-bottom: 2 solid #000;
    border-color: #000 #000 transparent;
    border-style: solid;
    border-width: 5px 2 20px
}



@media (max-width: 575.98px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
}

</style>